<!-- Template for adding a wine -->

<div class="content">
	<div class="container">
		<h2>Add a Wine</h2>
		<div class="row" id="form-wine">
			<div class="col col-2">
				<p>Name</p>
				<input ng-model="wineData.wineName">
				<p>Producer</p>
				<input ng-model="wineData.producer">
				<p>Variety</p>
				<input ng-model="wineData.variety">
				<p>Vintage</p>
				<input ng-model="wineData.vintage">
				<p>Optimal Age</p>
				<input ng-model="wineData.lifespan">
			</div>
			<div class="col col-2">
				<p>Vineyard</p>
				<input ng-model="wineData.vineyard">
				<p>Appelation</p>
				<input ng-model="wineData.appelation">
				<p>Region</p>
				<input ng-model="wineData.subregion1">
				<input ng-model="wineData.subregion2">
				<p>Country</p>
				<input ng-model="wineData.country">
				<p>Quantity</p>
				<input ng-model-"wineData.quantity">
			</div>
		</div>

		<div class="button-box">
			<button class="button add-button" ng-click="addWine()">
				<a href="#/{{ cellar }}">
				Add Wine
				</a>
			</button>

			<button class="button" ng-click="resetWineData()">Clear</button>
			
		</div>
	</div>
</div>