<!-- Home template with view of all wine cellars -->

<div class="content">
	<div class="container">
		<div class="button-box" id="home">
			<a href="">
				<button ng-click="toggleModal()" class="button">Add Cellar</button>
			</a>
			<input type="text" class="search" value="Search" ng-model="query">
			<!-- <select ng-model="orderProp">
				<option value="producer">Producer</option>
				<option value="name">Name</option>
				<option value="vintage">Vintage</option>
			</select> -->
		</div>

		<div id="list-wines">
			<div class="row list-hd">
				<div class="col col-4" ng-click="setOrderProp('name')">
					Cellar Name
				</div>
				<div class="col col-4" ng-click="setOrderProp('owner')">
					Cellar Master
				</div>
				<div class="col col-4" ng-click="setOrderProp('size')">
					Number of Wines
				</div>
				<div class="col col-4" ng-click="setOrderProp('dateMade')">
					Date Created
				</div>
			</div>
			
			<div ng-repeat="cellar in cellars | filter:query | orderBy:orderProp">
				<a ng-href="/#/{{cellar.name}}">
					<div class="row list-elem">
						<div class="col col-4">
							<span style="padding-left: 5px;">{{ cellar.name || "--"}}</span>
						</div>
						<div class="col col-4">
							{{ cellar.owner || "--"}}
						</div>
						<div class="col col-4">
							{{ cellar.size }}
						</div>
						<div class="col col-4">
							{{ cellar.dateMade || "--"}}
							<span class="more-arrow"></span>
						</div>
					</div>
				</a>
			</div>	
		</div>
	</div>
</div>

<div class="modal" ng-show="modalOn">
	<div class="modal-dim" ng-click="toggleModal()">
	</div>
	<div class="modal-body">
		<h4>Name your new cellar:</h4>
		<input ng-model="cellarName" />
		<a href="/#/{{ cellarName }}">
			<button ng-click="addCellar()" class="button">Add Cellar</button>
		</a>
	</div>
</div>
