<div class="content">
  <div class="container">
    <a class="cellar-link" ng-href="#/cellars/{{ data.cellar }}"><h1>{{ data.cellar }}</h1></a>
    <div class="row" id="single-wine">
      <div class="col col-2"> 
        <p>Producer</p>
        <h2>{{ data.wine.producer }}</h2>
        <p>Name</p>
        <h2>{{ data.wine.wineName || "--" }}</h2>
        <p>Variety</p>
        <h2>{{ data.wine.variety }}</h2>
        <p>Vintage</p>
        <h2>{{ data.wine.vintage }}</h2>
        <p>Optimal Drinking Year</p>
        <h2>{{ data.wine.drinkYear || "We wait..."}}</h2>
      </div>
      <div class="col col-2">
        <p>Vineyard</p>
        <h2>{{ data.wine.vineyard || "--" }}</h2>
        <p>Appelation</p>
        <h2>{{ data.wine.appelation || "--" }}</h2>
        <p>Region</p>
        <h2>
          <span ng-hide="!data.wine.subregion2">{{ data.wine.subregion2 + ',' }}</span> {{ data.wine.subregion1 || "--"}}
        </h2>
        <p>Country</p>
        <h2>{{ data.wine.country }}</h2>
        <p>Quantity</p>
        <h2>{{ data.wine.amount === false ? 1 : data.wine.amount }}</h2>
      </div>

      <div class="button-box">
        <a ng-show="data.cellarOwner == data.user.name" ng-href="/#/cellars/{{ data.cellar }}/wines/{{ data.wine.databaseId }}/update">
          <button class="button">Update</button>
        </a>
        <a ng-hide="data.cellarOwner == data.user.name">
          <button class="button disabled">Update</button>
        </a>
        <p ng-hide="data.user.loggedIn" class="note">Please login to make changes</p>
        <p ng-hide="data.cellarOwner == data.user.name" class="note">Only the cellar owner can make changes.</p>
      </div>
    </div>
  </div>
</div>