<!-- Template for adding a wine -->

<div class="content">
  <div class="container">
  <a class="cellar-link" ng-href="#/cellars/{{ data.cellar }}"><h1>{{ data.cellar }}</h1></a>
    <h2>Add a Wine</h2>
    <div class="row" id="form-wine">
      <div class="col col-2">
        <p>Name</p>
        <input ng-model="data.wine.wineName">
        <p>Producer</p>
        <input ng-model="data.wine.producer">
        <p>Variety</p>
        <input ng-model="data.wine.variety">
        <p>Vintage</p>
        <input ng-model="data.wine.vintage">
        <p>Optimal Age</p>
        <input ng-model="data.wine.lifespan">
      </div>
      <div class="col col-2">
        <p>Vineyard</p>
        <input ng-model="data.wine.vineyard">
        <p>Appelation</p>
        <input ng-model="data.wine.appelation">
        <p>Region</p>
        <input ng-model="data.wine.subregion1">
        <input ng-model="data.wine.subregion2">
        <p>Country</p>
        <input ng-model="data.wine.country">
        <p>Quantity</p>
        <input ng-model="data.wine.amount">
      </div>
    </div>

    <div class="button-box">
      <a ng-href="#/cellars/{{ data.cellar }}" class="button" ng-click="addWine()">Add Wine
      </a>

      <button class="button" ng-click="resetWine()">Clear</button>
      
    </div>
  </div>
</div>