<!-- Template for adding a wine -->

<div class="content">
	<div class="container">
		<h2>Add a Wine</h2>
		<form>
			<p>Wine's Name</p>
			<input ng-model="wineName">{{ wineName }}
			<p>Producer</p>
			<input ng-model="producer" value="Producer">{{ producer }}
			<p>Variety</p>
			<input ng-model="variety" value="Variety">{{ variety }}
			<p>Vintage</p>
			<input ng-model="vintage" value="Vintage">{{ vintage }}
			<p>Vineyard</p>
			<input ng-model="vineyard">
			<p>Region</p>
			Subregion 1
			<input ng-model="subregion1">
			Subregion 2
			<input ng-model="subregion2">
			Subregion 3
			<input ng-model="subregion3">
			<p>Country</p>
			<input ng-model="country"> {{ country }}
			<p>Optimal Age</p>
			<input ng-model="age">
		</form>

		<div>
			<button class="button add-button" ng-click="addWine()">
				<a href="/">
				Add Wine
				</a>
			</button>
		</div>
	</div>
</div>