<!DOCTYPE HTML>
<html lang="en" ng-app="wineApp">
	<head>
		<link rel="stylesheet" href="<< url_for('static', filename='css/normalize.css') >>">
		<link rel="stylesheet" href="<< url_for('static', filename='css/wine-db.css') >>">
	</head>


	<body>
		<div class="hd-hero">
			<div class="container">
				<div class="wine-hd">
					<h1>The Wine Cellar</h1>
				</div>
			</div>
		</div>

<!-- ng-view will grab the corrent template depending on the url--this allows for use of the back button and internal links -->

		<div ng-view></div>		

		<script src="<< url_for('static', filename='js/angular.js') >>"></script>
		<script>
			var PARTIALS_BASE_URL = '<< url_for("static", filename="partials/") >>';
		</script>
		<script type="text/javascript" src="<< url_for('static', filename='js/angular-route.js') >>"></script>
		<script type="text/javascript" src="<< url_for('static', filename='js/wine-app.js') >>"></script>
		<script src="<< url_for('static', filename='js/wine-controllers.js') >>">
		</script>
		<script src="<< url_for('static', filename='js/wine-services.js') >>">
		</script>
	</body>

</html>